.get-name-panel {
	-fx-background-image: url('file:resources/images/backgrounds/bg1.jpeg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.get-city-panel {
	-fx-background-image: url('file:resources/images/map/wood.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.image-view {
	-fx-width:50%;
}

.text-field {
	-fx-height : 80px;
    -fx-prompt-text-fill: white;
    -fx-text-fill : white;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-border-size : 2px ;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.cities-map {
	-fx-background-image: url('file:resources/images/map/map-bg.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}








