@font-face {
	font-family: enchanted;
	src: url('file:resources/fonts/enchanted_land.otf');
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Times New Roman";

}

.get-name-panel {
	-fx-background-image: url('file:resources/images/backgrounds/bg2.jpeg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.get-city-panel {
	-fx-background-image: url('file:resources/images/backgrounds/bg1.jpeg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.image-view {
	-fx-width: 50%;
}

.name-field {
	-fx-height: 80px;
	-fx-prompt-text-fill: white;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0.5);
	-fx-border-size: 2px;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-font-size: 20px;
}

.cities-map {
	-fx-background-image: url('file:resources/images/map/map-bg.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-background-position: center center;
	/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.map-view{
	-fx-background-image: url('file:resources/images/map/map-background2.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center bottom;
}
.start-btn {
	-fx-background-radius: 8;
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #c49c4b 0%, #e0be8b 50%, #c49c4b 100%);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.5, 2, 2);
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-margin: 20px 10px;
	-fx-cursor: pointer;
}
.info-bar, .action-box{
	-fx-background-image: url('file:resources/images/map/wood.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-height:150px;
	/*-fx-font-family	: 'Enchanted Land';*/
	
}
.label {
	 -fx-text-fill: #fff;
	 -fx-font-size : 40px;
	 -fx-padding: 0px 10px;
}
.city-view{
	-fx-background-image: url('file:resources/images/backgrounds/sand.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}
.message-pane{
	-fx-background-color: #aeaeae;
}
.build-dropdown{
	
  -fx-background-color: black;
  -fx-mark-color: orange; 
}
build-dropdown > .label { -fx-text-fill: white; }

.alert {
	-fx-background-color: white;
	-fx-word-wrap: wrap;
	
}
.alert > .label { -fx-text-fill: black; }

.button {
	-fx-font-size: 20px ;
}
.def-army-label{
	-fx-font-size:15px;
	-fx-text-fill:black;
}

.map-btn{
	-fx-background-image: url('file:resources/images/backgrounds/battle_lowAlpha.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-text-fill:black;
}

.battle-view{
	-fx-background-image: url('file:resources/images/backgrounds/battle_lowAlpha.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-text-fill:black;
}
.battle-view > .label{
	-fx-text-fill:black;
}
.action-box > .text-area{
	-fx-text-fill :rgb(96, 62, 27);
	-fx-font-weight:bold;
}
.action-box > .text-area .content {
	-fx-background-color: rgba(0,0,0,0);
	-fx-background-image: url('file:resources/images/backgrounds/textarea-bg.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-padding:10px 0 0 45px;
	
}



.text-area {
    -fx-background-color: rgba(53,89,119,0.0);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}